<%# {options: options, day: day, issues: issues} %>
<%
	console.log(date);
	//var day_date = options.modules.moment(new Date(date)).locale(options.lang);
%>
<div class="day">
	<div class="day-header" data-date="<%= items.format.full %>">
		<div class="day-info">
			<div class="day-label"><%= items.format.dddd %></div>
			<div class="day-number"><%= items.format.DD %></div>
			<div class="month-label"><%= items.format.MMMM %></div>
		</div>
		<div class="relative-date">
			<%# a-X day(s)-month(s)-year(s) ago/yesterday/today/tomorrow/in a/X day(s)-month(s)-year %>
			<ul class="fanarts-list list-unstyled list-inline">
				<% Object.entries(items.issues).forEach(([i, issue]) => { %>
					<li style="display:list-item;font-style:italic">
						- <%= issue.comics.name %> #<%= issue.issue_number %>
					</li>
					<%# include('calendar/day_item.ejs', {options: options, date: date, issue: issue}) #%>
				<% }); %>
			</ul>
		</div>
	</div>
</div>