<%
	if (['homepage', 'comics', 'list'].includes(options.page)) {
		var progress;

		// if there's no more issues left
		if (comic.to_read) {

			// img
			comic.to_read.image = comic.to_read.image.replace('{{code}}', options.image_code);

			// last read
			var last_read_issue = comic.issues.reduce((prev, current) => (new Date(prev.read) > new Date(current.read)) ? prev : current);
			var last_read = last_read_issue.issue_number;

			// number of issues left to read
			var issues_left = comic.issues.filter(i => { return !i.read && i.id !== comic.to_read.id && new Date() >= new Date(i.store_date); }).length;

			//new
			var is_new = Math.floor(Math.abs(new Date(comic.to_read.store_date) - new Date()) / 1000 / 86400) < 7;

			// progress bar percentage
			progress = (comic.nb_issues-issues_left-1)/comic.nb_issues*100;

		} else if (options.page === 'homepage') {
			return;
		} else if (['comics', 'list'].includes(options.page)) {
			progress = 100;
		}



	}

%>


<% if (options.page === 'homepage') { %>

	<!-- ITEM -->
	<li id="comics-item-<%= comic.id %>" data-comics="<%= comic.id %>" data-issue="<%= comic.to_read.id %>" class="comics <%= is_new ? 'new' : ''%>">

		<!-- .nav -->
		<div class="nav">
			<a href="#!" class="read-btn popover-link" title="Mark as read" data-original-title="">
				<i class="fa fa-check-circle to-read-icon"></i>
				<i class="fa fa-check-circle read-icon" style="display: none"></i>
			</a>
		</div>
		<!-- // .nav -->

		<div class="image-crop">
			<div class="new-label">New</div>
			<a href="<%= options.pathname + comic.link %>">
				<img id="img-<%= comic.id %>" loading="lazy" src="<%= comic.to_read.image %>" alt="<%= comic.name %>">
			</a>
			<div class="progress">
				<div class="progress-bar progress-bar-success uncomplete" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress %>%">
				</div>
			</div>
			<!--div class="overlay">
				<a href="#" class="zoom-btn overlay-btn" title="Infos">
					<i class="zoom-icon icon-tvst-search"></i>
				</a>
			</div-->
		</div>

		<div class="issue-details cover-details">
			<h2><a href="<%= options.pathname + comic.link %>"><%= comic.name %> <span class="issue-number">#<%= comic.to_read.issue_number %></span></a>
				<!--span class="nb-remainging-issues">+ X more</span-->
			</h2>
			<!--a class="nb-reviews-link secondary-link" href="#">+ x more</a-->
			<span class="nb-remainging-issues" title="<%= comic.nb_issues + ' issues' %>">
				<% if (issues_left) { %>+ <span class="remainging-issues"><%= issues_left %></span> more<% } %></span>

		</div>
	</li>
	<!-- // ITEM -->

<% } else if (['comics', 'list'].includes(options.page)) { %>

	<%# debug %>
	<div class="comics-issue" data-comics="<%= comic.id %>">
		<div class="comics-issue-top">
			<div class="comics-issue-controls">
				<span class="comics-issue-control comics-issue-closed"><i class="fas fa-angle-down"></i></span>
				<span class="comics-issue-control comics-issue-opened"><i class="fas fa-angle-up"></i></span>
			</div>

			<%# active %>
			<label class="form-switch comics-issue-status-read">
				<input type="checkbox" class="toggle-comics" <%= (comic.active ? 'checked' : '') %>>
				<i></i>
			</label>

			<div class="comics-issue-title"><%= comic.name + ' (' + comic.start_year + ')' %></div>

			<div class="comics-issue-status">

				<%# refresh %>
				<span class="comics-issue-status-read" title="Update <%= comic.name + ' (' + comic.start_year + ')' %>">
					<i class="fa fa-sync-alt fa-refresh-comics"></i>
				</span>

				<%# if (options.page === 'comics') { %>

				<%# read %>
				<span class="comics-issue-status-read">
					<i class="fas fa-check-circle fa-read-status disabled <%= comic.issues.filter(i => !i.read).length ? '' : 'fa-read' %>"></i>
				</span>

				<%# } %>
				<!--input type="checkbox" name="checkbox1" id="checkbox3" class="ios-toggle" <%= (comic.active ? 'checked="checked"' : '') %>/-->
				<!--label for="checkbox3" class="checkbox-label" data-off="longer label off" data-on="longer label on"></label-->

			</div>

		</div>
		<div class="comics-issue-bottom">
			
			<img class="comics-issue-img" loading="lazy" src="<%= comic.image %>" />
			<ul>
				<% if (options.page === 'list') { %>
					<li>Link : <a href="<%= options.pathname %>/comics/<%= comic.id %>">Go to comic</a></li>
				<% } %>
				<li>ID : <%= comic.id %></li>
				<li>Status : <%= comic.active ? (comic.started ? "Reading" : "Not started") : "Stopped" %></li>
				<li>Number of issues : <%= comic.nb_issues %></li>
				<li>Published by : <%= comic.publisher.name %> (<%= comic.publisher.id %>)</li>
				<li>Added : <%= comic.date.added %></li>
				<li>Updated : <%= comic.date.updated %></li>
				<li>Progress : <%= progress.toFixed(2) %>%</li>
				<% if (options.page === 'comics') { %>
					<li>To read : <a href="#comics-item-<%= comic.id + "-" + comic.to_read.id %>">#<%= comic.to_read.issue_number %></a></li>
				<% } %>
			</ul>
			<pre style="font-size: 12px;"><code class="language-javascript"><%= JSON.stringify(comic, null, "\t") %></code></pre>
		</div>
	</div>
	<%# /debug %>

	<% if (options.page === 'comics') {
		comic.issues.forEach( issue => { %>
			<%- include('issue.ejs', {comic: comic, issue: issue}) %>
		<% })
	} %>

<% } else if (options.page === 'issue') {

	const issue = comic.issues.filter(i => i.issue_number == issue_number, issue_number)

	%>
	<%- include('issue.ejs', {comic: comic, issue: comic.issue}) %>

<% } else { %>

	<%
		const isHomepage = typeof options.page === 'undefined' || options.page === 'homepage';
		comic.link = isHomepage ? ('comics/' + comic.id) : (options.page === 'issue' ? '../' : './' + comic.id);
		comic.image_code = isHomepage ? 'scale_avatar' : (options.page === 'comics' ? 'scale_medium' : 'scale_avatar');
		comic.full_name = comic.name + ' (' + comic.start_year + ')';
	%>

	<% if (!isHomepage) { %>
		<a href="..">Retour</a><br/>
	<% } %>

	<a href="<%= options.pathname + comic.link %>">
		<img src="<%= comic.image.replace('{{code}}', comic.image_code) %>" loading="lazy" />
	</a><br/>

	<li>Link: <%= comic.link %></li>

	<li><a href="<%= options.pathname + comic.link %>"><%= comic.full_name %></a></li>
	<li>Name: <%= comic.name %></li>
	<li>Number of issues: <%= comic.nb_issues %></li>
	<li>Publisher: <%= comic.publisher.name %></li>
	<li>Start year: <%= comic.start_year %></li>
	<li>Added: <%= comic.date.added %></li>
	<li>Updated: <%= comic.date.updated %></li>

	<li><a href="<%= options.pathname + comic.link %>">See all issues</a></li>

<% } %>