<% if (page === 'homepage') { 
	// params
	var image_code = 'scale_small';

	// comics
	var comics_img = comic.image.replace('{{code}}', image_code);
	var link = '/comics/' + comic.id;

	/* issues */
	// first unread
	var to_read = comic.issues.find(function(i) {
		return !i.read;
	});

	// if there's no more issues left
	if (!to_read) {
		return;
	}

	// img
	var issue_img = to_read.image.replace('{{code}}', image_code);
	console.log(to_read)
	// to be released issues
	var number_unreleased = comic.issues.filter(function(i) {
		return new Date() < new Date(i.store_date)
	}).length;
	// progress
	var issues_count = parseInt(to_read.issue_number) - number_unreleased;
	// last read
	var last_read = (issues_count - 1);
	// to be read
	var issues_left = comic.nb_issues - last_read - 1;
	//new
    var is_new = Math.floor(Math.abs(new Date(to_read.store_date) - new Date()) / 1000 / 86400) < 7;

	// progress bar percentage
	var progress = last_read/comic.nb_issues*100;
	%>

	<!-- ITEM -->
	<li id="comics-item-<%= comic.id %>" data-comics="<%= comic.id %>" data-issue="<%= to_read.id %>" class="comics <%= is_new ? 'new' : ''%>">

		<!-- .nav -->
		<div class="nav">
			<a href="#" class="read-btn popover-link" title="" data-original-title="Mark as read">
				<i class="to-read-icon icon-tvst-read">✓</i>
				<i class="read-icon icon-tvst-check"></i>
			</a>
		</div>
		<!-- // .nav -->

		<div class="image-crop">
			<div class="new-label">New</div>
			<a href="<%= link %>">
				<img id="img-<%= comic.id %>" src="<%= issue_img %>" alt="<%= comic.name %>">
			</a>
			<div class="progress">
				<div class="progress-bar progress-bar-success uncomplete" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress %>%">
				</div>
			</div>
			<!--div class="overlay">
				<a href="#" class="zoom-btn overlay-btn" title="Infos">
					<i class="zoom-icon icon-tvst-search"></i>
				</a>
			</div-->
		</div>

		<div class="issue-details cover-details">
			<h2><a href="<%= link %>"><%= comic.name %> #<span class="issue-number"><%= to_read.issue_number %></span></a>
				<!--span class="nb-remainging-issues">+ X more</span-->
			</h2>
			<!--a class="nb-reviews-link secondary-link" href="#">+ x more</a-->
			<span class="nb-remainging-issues" title="<%= comic.nb_issues + ' issues' %>"><% if (issues_left) { %>+ <span class="remainging-issues"><%= issues_left %></span> more<% } %></span>

		</div>
	</li>
	<!-- // ITEM -->

<% } else if (page === 'comics') { %>

	<% comic.issues.forEach( issue => { %>
		<%- include('issue.ejs', {comic: comic, issue: issue}) %>
	<% })

} else if (page === 'issue') {

	const issue = comic.issues.filter(i => i.issue_number == issue_number, issue_number)

	%>
	<%- include('issue.ejs', {comic: comic, issue: comic.issue}) %>

<% } else { %>

	<%
		const isHomepage = typeof page === 'undefined' || page === 'homepage';
		comic.link = isHomepage ? ('comics/' + comic.id) : (page === 'issue' ? '../' : './' + comic.id);
		comic.image_code = isHomepage ? 'scale_avatar' : (page === 'comics' ? 'scale_small' : 'scale_avatar');
		comic.full_name = comic.name + ' (' + comic.start_year + ')';
	%>

	<% if (!isHomepage) { %>
		<a href="..">Retour</a><br/>
	<% } %>

	<a href="<%= comic.link %>">
		<img src="<%= comic.image.replace('{{code}}', comic.image_code) %>" />
	</a><br/>

	<li>Link: <%= comic.link %></li>

	<li><a href="<%= comic.link %>"><%= comic.full_name %></a></li>
	<li>Name: <%= comic.name %></li>
	<li>Number of issues: <%= comic.nb_issues %></li>
	<li>Publisher: <%= comic.publisher.name %></li>
	<li>Start year: <%= comic.start_year %></li>
	<li>Added: <%= comic.date.added %></li>
	<li>Updated: <%= comic.date.updated %></li>

	<li><a href="<%= comic.link %>">See all issues</a></li>

<% } %>