<%
	const isHomepage = typeof page === 'undefined' || page === 'homepage';
	comic.link = isHomepage ? ('comics/' + comic.id) : '';
	comic.image_code = isHomepage ? 'scale_avatar' : 'scale_small';
	comic.full_name = comic.name + ' (' + comic.start_year + ')';
%>

<% if (!isHomepage) { %>
	<a href="../">Retour</a><br/>
<% } %>

<a href="<%= comic.link %>"><img src="<%= comic.image.replace('{{code}}', comic.image_code) %>" /></a>
<br/>
<a href="<%= comic.link %>"><%= comic.full_name %></a>
<li>Name: <%= comic.name %></li>
<li>Number of issues: <%= comic.nb_issues %></li>
<li>Publisher: <%= comic.publisher.name %></li>
<li>Start year: <%= comic.start_year %></li>
<li>Added: <%= comic.added %></li>
<li>Updated: <%= comic.updated %></li>

<% if (page === 'comics') { %>
	<br/>
	<% comic.issues.forEach( issue => { %>
	<img src="<%= issue.image.replace('{{code}}', 'scale_avatar') %>" />
	<br/>
	<ul>
		<li>#<%= issue.issue_number %></li>
		<li><%= comic.full_name + " #" + issue.issue_number %></li>
		<li><%= issue.id %></li>
		<li>Name: <%= issue.name %></li>
		<li>Store date: <%= issue.store_date %></li>
		<li><%= issue.read ? ('Lu le ' + issue.read) : 'Non-lu' %></li>
	</ul>
	<% })
} else { %>
	<li><a href="<%= comic.link %>">See the issues</a></li>
<% } %>

<% if (!isHomepage) { %>
	<br/><a href="../">Retour</a>
<% } %>