<%
	const page_issue = page === 'issue';
	issue.link = page_issue ? '' : (comic.link + '/issue/' + issue.id);
	issue.image_code = page_issue ? 'scale_small' : 'scale_avatar';
%>

<a href="<%= issue.link %>">
	<img src="<%= issue.image.replace('{{code}}', issue.image_code) %>" />
</a><br/>
<ul>
	<li>#<%= issue.issue_number %></li>
	<li><a href="<%= issue.link %>"><%= comic.full_name + " #" + issue.issue_number %></a></li>
	<li><%= issue.id %></li>
	<li>Name: <%= issue.name %></li>
	<li>Store date: <%= issue.store_date %></li>
	<li>Added: <%= issue.date.added %></li>
	<li>Updated: <%= issue.date.updated %></li>
	<li><%= issue.read ? ('Lu le ' + issue.read) : 'Non-lu' %></li>

	<% if (page_issue && issue.prev) { %>
		<a href="../../<%= issue.prev.link %>">Prev</a>
	<% } %>

	<% if (page_issue && issue.next) { %>
		<a href="../../<%= issue.next.link %>">Next</a>
	<% } %>
</ul>