<!DOCTYPE html>
<html>
<head>
	<%# meta %>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta charset="utf-8">
	<%#meta name="viewport" content="width=1040"%>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<%#meta name="MobileOptimized" content="1040"%>
	<meta http-equiv="content-language" content="en">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300" rel="stylesheet">


	<title>-</title>
	<%# jQuery %>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<%# select2 %>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.full.js"></script>
	<%# EJS %>
	<script src="/js/ejs.js"></script>
	<%# custom %>
	<link rel="stylesheet" type="text/css" href="/css/main.css" />

	<%# dev only %>
	<link href="/css/prism.css" rel="stylesheet" />
	<style>
		code[class*="language-"], pre[class*="language-"] {
			font-size: 12px;
			white-space: normal;
			word-break: break-word;
			max-height: 500px;
		}
	</style>

	<script src="https://kit.fontawesome.com/e581184fd2.js" crossorigin="anonymous"></script>


	<!--script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js" integrity="sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/fr.js" integrity="sha256-D0tqyrTQHDExvGYoi+kyInjV47fm30M5qq4whUrMuuE=" crossorigin="anonymous"></script-->
</head>
<body id="container">
	<div id="main">



		<div class="page-left page-sidebar">

			<a href="#" class="extend-left-link"><i class="fa fa-bars"></i></a>

			<div class="scrollable scrolling-element">
				<div class="wrapper">
					<a id="home-link" href="/"> <%# height: 66px; %>
						<img class="logo" src="/images/logo_tmp.png" alt="COMICS TIME"> <span id="home-text">title</span>
					</a>

					<div class="" id="search-wrap">
						<%# search %>
						<select id="search" name="search"></select>
						<%# // search %>
					</div>

					<section id="menu">
						<ul class="menu list-unstyled">

							<li class="calendar">
								<a href="/calendar" title="Calendar">
									<i class="icon-tvst-calendar-alt">X</i>
									<span>Calendar</span>
								</a>
							</li>

							<li class="tests">
								<a href="#test1" title="Tests">
									<i class="icon-tvst-calendar-alt">X</i>
									<span>Tests 1</span>
								</a>
							</li>

							<li class="tests">
								<a href="#test2" title="Tests">
									<i class="icon-tvst-calendar-alt">X</i>
									<span>Tests 2</span>
								</a>
							</li>
						</ul>
					</section>


				</div>
			</div>

			<!-- -->
			<!-- -->
			<!-- -->
			<!-- -->


			<%# update %>
			<button id="update" name="update" style="display:none">update</button>
			<%# // update %>

			

			%>
		</div>



		<div class="page-center">
			<div id="<%= options.main %>">

			<% switch(options.page) {
				default: break;
				%>

				<%# HOMEPAGE %>
				<% case "homepage":

					comics_to_read = comics.filter(c => {
						return c.to_read && (parseInt(c.to_read.issue_number) > 1 || c.started);
					}).sort((a, b) => { return new Date(b.date.updated) - new Date(a.date.updated); })
					comics_not_started = comics.filter(c => {
						return c.to_read && parseInt(c.to_read.issue_number) <= 1 && !c.started;
					}).sort((a, b) => { return new Date(b.date.updated) - new Date(a.date.updated); })
					comics_done = comics.filter(c => {
						return !c.to_read;
					}).sort((a, b) => { return new Date(b.date.updated) - new Date(a.date.updated); })
				%>
					<section class="to-read" id="to-read">
						<h1>Read next&nbsp;(<span class="nb-items"><%= comics_to_read.length %></span>)</h1>
						<ul class="to-read-list covers-list list-unstyled list-inline single-row">
							<%
							comics_to_read.forEach( comic => { %>
								<%- include('includes/comic.ejs', {options: options, comic: comic}) %>
							<% }); %>
						</ul>
					</section>
					<% if (comics_not_started) { %>
						<section class="to-read" id="not-started">
							<h1>Not started yet&nbsp;(<span class="nb-items"><%= comics_not_started.length %></span>)</h1>
							<ul class="to-read-list covers-list list-unstyled list-inline single-row">
								<% comics_not_started.forEach( comic => { %>
									<%- include('includes/comic.ejs', {options: options, comic: comic}) %>
								<% }); %>
							</ul>
						</section>
					<% } %>
					<% if (comics_done) { %>
						<section class="to-read" id="done">
							<h1>Up to date&nbsp;(<span class="nb-items"><%= comics_done.length %></span>)</h1>
							<ul class="to-read-list covers-list list-unstyled list-inline single-row">
								<% comics_done.forEach( comic => { %>
									<%- include('includes/comic.ejs', {options: options, comic: comic}) %>
								<% }); %>
							</ul>
						</section>
					<% } %>
					<% break %>

				<%# COMICS %>
				<% case "comics":
					comic.issues.sort((a, b) =>	(parseFloat(a.issue_number.replace('.HU', '.5')) > parseFloat(b.issue_number.replace('.HU', '.5'))) ? 1 : -1); %>
					<%- include('includes/comic.ejs', {options: options, comic: comic}) %>
					<% break %>

				<%# CALENDAR %>
				<% case "calendar": 
				//console.log(calendar)%>
					<section>
						<div class="calendar-wrapper">
							<% Object.entries(calendar).forEach(([date, items]) => { %>
								<%- include('includes/calendar.ejs', {options: options, date: new Date(date), items: items}) %>
							<% }); %>
						</div>
					</section>
					<% break %>


				<div id="test"></div>

			<% } %>
			</div>
		</div>



	</div>


	<script>
		var options = <%- JSON.stringify(options) %>;
		
		<%#
	options.calendar = {
		min: {
			date: date_start,
			more: true
		},
		max: {
			date: date_end,
			more: true
		}
	}
		%>
	</script>
	<script src="/js/main.js"></script>
	<%# addons %>
	<script src="/js/addons.js"></script>
	<%# dev only %>
	<script src="/js/prism.js"></script>

	<style>
		/*
background: url(https://comicvine.gamespot.com/api/image/scale_small/4852083-01.jpg) 50% 50%;
	filter: blur(10px);
		*/
	</style>

	<script>
		$(document).on('click', '.comics-issue-top:not(.comics-issue-status *)', function(e) {
			// prevent
			if (e.target.closest('.comics-issue-status')) {
				return false;
			}
			$(this).closest('.comics-issue').toggleClass('open');
		});
	</script>
</body>
</html>
<%# ul.SEARCH search-results-list shows-results-list covers-list list-unstyled list-inline %>