<%# day item %>
<!-- <li style="display:list-item;font-style:italic">
	- <%= issue.comics.name %> #<%= issue.issue_number %>
</li> -->
<%
	console.log({options, date, issue})
		issue.image_code = 'scale_small';
%>


<li id="episode-item-7571361" class="<%= issue.read ? 'read' : '' %> initialized">
	<div class="nav">
		<a href="#" class="read-btn popover-link" title="Mark as read" data-original-title="">
			<i class="fa fa-check-circle to-read-icon" aria-hidden="true"></i>
			<i class="fa fa-check-circle read-icon" style="display: none" aria-hidden="true"></i>
		</a>
	</div>
	<div class="fanart-container">
		<div class="image-crop">
			<a href="/en/show/361315/episode/7571361">
				<img src="<%= issue.image.replace('{{code}}', issue.image_code) %>" alt="Batwoman">
			</a>
		</div>
		<!-- DL Subtitles -->
		<div class="side subs">
			<div class="heading">
				Select language
				<div class="close">
					<a href="#">×<!-- <i class="icon-remove"></i> --></a>
				</div>
			</div>
			<ul class="list-unstyled subs-list scrolling-element">
			</ul>
		</div>
		<!-- // DL Subtitles -->
		<div class="episode-details fanart-details">
			<h2><a href="/en/show/361315/episode/7571361"><%= issue.comics.name + ' #' + issue.issue_number %></a></h2>
			<a class="secondary-link" href="/en/show/361315"><%= issue.name %></a>
			<div class="more-infos">
			</div>
			<p><!-- Custom field --></p>
		</div>
	</div>
</li>